* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: #E8E8E8;
}

img {
    width: 2em;
    height: 2em;
}

.header{
    box-shadow: 0 0 10px 0 rgba(187, 185, 185, 0.8);
}

.container {
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    margin: auto;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 2.5em;
    font-weight: 700;
    color: #A9792B;
    user-select: none;
}

.add {
    font-size: 1.5em;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #c5c5c5;
    background-color: #E8E8E8;
}

.add:hover {
    background-color: #d6d6d6;
}

.books {
    margin-top: 4em;
    display: none;
}

.books .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
}

.book-info {
    padding: 1.5em;
    border-radius: 10px;
    background-color: #F3F4F6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    height: 100%;
}

.book-info:hover {
    box-shadow: 0px 6px 11px 1px #D6D6D6;
}

.title-group{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.book-title {
    font-size: 1.3em;
    font-weight: 700;
    line-height: 1.3;
}

.author {
    font-size: .9em;
    color: #2aa5f1;
}

.pages,
.read {
    font-size: .9em;
}

.tag {
    font-weight: 600;
}

.button-group {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.read-button, 
.remove-button {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.read-button {
    background-color: #8EC175;
}

.read-button:hover {
    background-color: #82AD6D;
}

.remove-button {
    background-color: #EDA8A8;
}

.remove-button:hover {
    background-color: #DE9C9C;
}

.modal.hidden {
    /* display: none; */
}

.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    padding: 1.5em 3em;
    background-color: #E8E8E8;
    border-radius: 10px;
    box-shadow: 0px 6px 11px 1px #D6D6D6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.modal-title {
    color: #A9792B;
}

.input-group.text,
.input-group.number {
    position: relative;
}

.input-group.text input,
.input-group.number input {
    font-family: 'Poppins', sans-serif;
    width: 350px;
    background-color: #E8E8E8;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #A9792B;
    border-radius: 5px;
    outline: none;
}

.input-group.text label,
.input-group.number label {
    color: #8b8b8b;
}

.input-group.text label,
.input-group.number label {
    position: absolute;
    top: 50%;
    left: 11px;
    transform: translateY(-50%);
}

.input-group.checkbox {
    margin: auto;
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 10px;
}

input#input-read {
    width: 20px;
}

.input-group input:focus::placeholder {
    color: transparent;
}

.input-group input:focus~label,
.input-group input:not(:placeholder-shown)~label {
    color: black;
    background-color: #E8E8E8;
    font-size: 12px;
    padding: 2px;
    top: 0;
}

.input-group input:invalid:not(:placeholder-shown) {
    border: 1px solid red;
}

.input-group input:valid:not(:placeholder-shown) {
    border: 1px solid green;
}

.submit button {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #dfb873;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
}

.submit button:hover{
    background-color: #d7ac66;
}